<!DOCTYPE HTML>
<html>
	<head>
		<title>Main</title>
		
		<link 	type="text/css" href="../libraries/jqueryMobile/jquery.mobile-1.3.0.min.css" rel="stylesheet" />
		
		<script type="text/javaScript" src="../libraries/jquery/jquery-1.9.1.min.js"></script>
		<script type="text/javaScript" src="../libraries/jqueryMobile/jquery.mobile-1.3.0.min.js"></script>
		<script type="text/javaScript" src="../libraries/cordova-2.5.0.js"></script>
		<script type="text/javaScript" src="../libraries/json.js"></script>
		<script type="text/javaScript" src="../scripts/workWithCookie.js"></script>
		<script type="text/javaScript" src="../scripts/workWithDB.js"></script>
		
	</head>
	
	<body>
	<div data-role="page" id="main">
        <div data-role="header">
            <h1>Main Controls</h1>
        </div>
        <div data-role="content">
            <ul data-role="listview" data-theme="c">
                <li>
                    <a data-ajax="false" href="filters.html">Filters</a>
                </li>
                <li>
                    <a href="searchResults.html">Search Results</a>
                </li>
                <li>    
                    <a href="savedSearches.html">Saved Searches</a>
                </li>
            </ul>
        </div>
    </div>
	</body>

</html>